* {
  box-sizing: border-box;
}

.background-image {
  background-image: url('http://www.rths193.org/uploads/5/9/8/9/59899991/4160299.png?639');
  background-size: cover;
  display: block;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 600px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.upper-content {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  left: 0;
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  padding: 0 10px;

  .welcome-text {
    text-align: center;
    color: #146517;
    font-weight: 900;
    margin-top: 30px;
  }
  .middle-signup-button {
    display: flex;
    justify-content: center;
    .btn {
      background-color: darkgreen;
    }
  }
}

.lower-content {
  z-index: 2;
}
