  <!-- <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Haven.io</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="styles/content.css" type="text/css" />
    <script type="text/javascript" src="vendor/jquery-3.0.0.js"></script>
  </head>
  <body> -->
    <!-- <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Haven.io</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Log In</a></li>
          <li><a href="badges.html">Sign up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Log In</a></li>
          <li><a href="badges.html">Sign up</a></li>
        </ul>
      </div>
    </nav> -->
    <!-- Page-specific (main) <content></content> here -->
    <div class="welcome">
      <div id="filter-div">
        <div class="background-image img-responsive">
        </div>
      </div>
      <div class="upper-content">
        <div class="welcome-text">
          <h1>Are you in need? You are not alone</h1>
          <h2>We are here to help!</h2>
        </div>
        <div class="middle-signup-button">
          <a href="/signup" class="waves-effect waves-light btn"><i class="material-icons left">lock_outline</i>SIGN UP FREE</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="lower-content col s12">
          <div class="col s1">

          </div>
          <div class="lower-content-asset col s4">
            <h2>Tell us your story</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla q varius pretium
            </p>
          </div>
          <div class="col s2">

          </div>
          <div class="lower-content-asset col s4">
            <h2>Need a shelter?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla q varius pretium
            </p>
          </div>
          <div class="col s1">

          </div>
        </div>
      </div>
    </div>
    <div class="filling-div">

    </div>
    <footer>© 2017 haven.io. All rights reserved.</footer>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
       $(".button-collapse").sideNav();
    })
  </script> -->
  <!-- </body> -->
