
    <div class="welcome">
      <div id="filter-div">
        <div class="background-image img-responsive">
        </div>
      </div>
      <div class="upper-content">
        <div class="welcome-text">
          <h1>Access City Services and Support</h1>
          <h2>For Torontonians in housing transition</h2>
        </div>
        <% if current_user %>
          <div class="middle-signup-button">
              <li class="waves-effect waves-light btn"><%= link_to 'START HERE', edit_user_path(id: current_user.id) %></li>
             <!-- <a href="/users/#{@user.id}/edit" class="waves-effect waves-light btn">FILL OUT YOUR PROFILE</a> -->
          </div>
        <% elsif %>
          <div class="middle-signup-button">
            <a href="/signup" class="waves-effect waves-light btn"><i class="material-icons left">lock_outline</i>SIGN UP</a>
          </div>
        <% end %>
      </div>
    </div>
  <div class="container">
    <div class="row lower-content">
      <div class="col s12 valign-wrapper">
        <div class="lower-content-asset col s4">
          <i class="large material-icons">location_on</i>
          <h2>Locate City </br> Services</h2>
          <p>
            The city of Toronto provides accomodation, medical services and nutrition for it's residents. Locate the nearest city services from your smartphone.
          </p>
        </div>
        <div class="col s2"></div>
        <div class="lower-content-asset col s4">
          <i class="large material-icons">perm_identity</i>
          <h2>Access City Support Staff</h2>
          <p>
            City of Toronto social workers and front-line relief voulenteers are here to help guide you to finding a permanent home. Communicate directly with City Staff who can help with your situation.
          </p>
        </div>
      </div>
    </div>
  </div>
    <div class="row last-section">
      <div class="col s12 contact-us valign-wrapper">
        <div class="col s3"></div>
        <div class="col s6 contact-us-div">
          <p>Contact us by email</p>
          <a href="mailto:melltemkilic@gmail.com" target="_blank"><i class="large material-icons">email</i></a>
        </div>
         <div class="col s3"></div>
      </div>
      <footer>© 2017 haven.to. All rights reserved.</footer>
    </div>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
       $(".button-collapse").sideNav();
    })
  </script> -->
  <!-- </body> -->
