  <!-- <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Haven.io</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="styles/content.css" type="text/css" />
    <script type="text/javascript" src="vendor/jquery-3.0.0.js"></script>
  </head>
  <body> -->
    <!-- <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Haven.io</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Log In</a></li>
          <li><a href="badges.html">Sign up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Log In</a></li>
          <li><a href="badges.html">Sign up</a></li>
        </ul>
      </div>
    </nav> -->
    <!-- Page-specific (main) <content></content> here -->
    <div class="welcome">
      <div id="filter-div">
        <div class="background-image img-responsive">
        </div>
      </div>
      <div class="upper-content">
        <div class="welcome-text">
          <h1>Are you suffering from homelessness?</h1>
          <h2>We are here to help!</h2>
        </div>
        <% if current_user %>
          <div class="middle-signup-button">
              <li class="waves-effect waves-light btn"><%= link_to 'SUBMIT A NEW PROFILE', edit_user_path(id: current_user.id) %></li>
             <!-- <a href="/users/#{@user.id}/edit" class="waves-effect waves-light btn">FILL OUT YOUR PROFILE</a> -->
          </div>
        <% elsif %>
          <div class="middle-signup-button">
            <a href="/signup" class="waves-effect waves-light btn"><i class="material-icons left">lock_outline</i>SIGN UP FREE</a>
          </div>
        <% end %>
      </div>
    </div>


    <div class="row lower-content">
      <div class="col s12 valign-wrapper">
        <div class="col s1"></div>
        <div class="lower-content-asset col s4">
          <h2>Tell us your story</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam,
          </p>
        </div>
        <div class="col s2"></div>
        <div class="lower-content-asset col s4">
          <h2>Keep track of your situation</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          </p>
        </div>
        <div class="col s1"></div>
      </div>
    </div>
    <div class="row last-section">
      <div class="col s12 contact-us valign-wrapper">
        <div class="col s3"></div>
        <div class="col s6 contact-us-div">
          <p>Contact us by email</p>
          <a href="mailto:melltemkilic@gmail.com" target="_blank"><i class="large material-icons">email</i></a>
        </div>
         <div class="col s3"></div>
      </div>
      <footer>© 2017 haven.io. All rights reserved.</footer>
    </div>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
       $(".button-collapse").sideNav();
    })
  </script> -->
  <!-- </body> -->
