<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @history.user_id %>
</p>

<p>
  <strong>History ID:</strong>
  <%= @history.id %>
</p>

<p>
  <strong>ID:</strong>
  <%= @history.user_id %>
</p>

