@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color";
@import "materialize";

* {
  box-sizing: border-box;
}

$chart-background-color: #fff;

html, body {
  height: 100%;
  background-color: #eeeeee;
  .collection {
    height: 550px;
    overflow: scroll;
    margin-left: 1rem;
    li.collection-item.avatar {
      display: flex;
      align-items: center;
      min-height: 60px;
    }
    .collection-item.active {
      color: #26a69a;
    }
  }
  .radar-pie {
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: $chart-background-color;
    transition: box-shadow .25s;
    .recharts-layer {
      font-size: 0.90rem;
    } 
  }
  .row.filling {
    height: 2rem;
  }
  .age-user-pie {
    .agepie.col.s6 {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
      border-radius: 2px;
      background-color: $chart-background-color;
      height: 350px;
      display: flex;
      align-items: center;
      .buttons-first-row {
        display: flex;
        justify-content: space-around;
        padding-right: 1rem;
        padding-left: 1rem;
        button {
          height: 2rem;
        }
      } 
      .buttons-second-row {
        display: flex;
        justify-content: space-around;
        margin-top: 0.5rem;
        padding-left: 2rem;
        padding-right: 3rem;
        button {
          height: 2rem;
        }
      }
    }
    .col.s1.filling-div {
      width: 3%;
    }
  }
  .userpie.col.s5 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: $chart-background-color;
    height: 350px;
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    .col.s12 {
      display: flex;
      flex-direction: column;
      .buttons {
        display: flex;
        flex-wrap: false;
        justify-content: space-around;
        button {
          width: 7.4rem;
          margin-top: 0.5rem;
          padding-left: .4rem;
          padding-right: .4rem;
          height: 2rem;
          margin-bottom: 0.7rem;
        }
      }
    }
  }
  .timeseries {
    overflow: none;
    margin-right: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: $chart-background-color;
    height: 600px;
    display: flex;
    align-items: center;
    .col.s12 {
      display: flex;
      flex-direction: column;
      align-items: center;
      .buttons {
        align-self: flex-start;
        margin-left: 29.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        button {
          width: 9rem;
          padding-left: 1rem;
          padding-right: 1rem;
          margin: 0.5rem;
          height: 2rem;
          margin-bottom: 0.7rem;
        }
      }
    }
  }
}

