// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color";
@import "materialize";

$text-color: white;
$navbar-background-color: rgb(216, 104, 101);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  .nav-wrapper {
    background-color: $navbar-background-color;
    a.logout-icon {
      font-size: 2rem;
      font-weight: 900;
    }
    a {
      margin-left: 1.2rem;
    }
  }

  .welcome {
    height: 450px;
    background-color: black;
    position: relative;
    #filter-div {
      height: 100%;
      opacity: 0.6;
    }

    .background-image {
      background-image: url('http://i.magaimg.net/img/nhx.png');
      background-size: cover;
      height: 100%;
    }
    .upper-content {
      position: absolute;
      top:0;
      width: 100%;
      .welcome-text {
        text-align: center;
        padding-top: 70px;
        color: $text-color;
        h1 {
          font-weight: bold;
          font-size: 3.5vw;
        }
        h2 {
          font-size: 2.5vw;
        }
      }
      .middle-signup-button {
        text-align: center;
        margin-top: 40px;
        .btn {
          background-color: $navbar-background-color;
          a {
            color: $text-color;
          }
        }
      }
    }
  }

  .lower-content {
    margin-top: 7rem;
    margin-bottom: 7rem;
    .lower-content-asset {
    text-align:center;
      h2 {
        font-size: 2vw;
        font-weight: bold;
      }
    }
  }

  .last-section {
    background-color: #803937;
    color: $text-color;
    margin-bottom: 0;
      .contact-us {
        height: 13rem;
        .contact-us-div {
        display: flex;
        justify-content: center;
        p {
          font-size: 2vw;
          text-align: center;
          margin-bottom: 0;
        }
        a {
              margin: 1rem 0 0 2rem;
          i {
              color: $navbar-background-color;
              font-size: 4rem;
          }
        }
      }

    }

  }


  footer {
    text-align: center;
  }

}