// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color";
@import "materialize";

$navbar-background-color: #5da8c1;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  .entrance-text {
    margin-top: 3rem;
    h1 {
      font-size: 2vw;
      font-weight: 500;
      text-align: center;
    }
  }

  .card-action {
    height: 3.5em;
    .right{
      float: right;
    }

    .left{
      float: left;
    }
  }

  .card .card-content{
    p {
      margin: 0.75em;
    }
  }

  .card .card-image {
    max-width: 100%;
  }

  .input-field {
    p {
      margin-bottom: 2rem;
    }
  }

  .filling-div {
    height: 3rem;
  }

  .form-container {
    margin-top: 4rem;
  }

  .center-btn {
    text-align: center;
    margin-bottom: 4rem;
  }
  .btn {
    background-color: $navbar-background-color;
  }
  .footer {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 5vh;
  }
  .footer-profile-page {
    bottom:0;
    width: 100%;
    height: 5vh;
  }
}
