<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Report ID:</strong>
  <%= @report.id %>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @report.sentiment %>
</p>

